/* variables */
:root {
    --primary-color: #005884;
    --accent-color: #8dc63f;
    --dark-accent-color: #578f09;
    --light-color: #f4f4f4;
    --black-color: #000;
    --overlay-color: rgba(0, 0, 0, 0.5);
    --nav-color: #333;  
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--nav-color);
    color: var(--light-color);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.companyName {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--accent-color);
}

.logo img {
    width: 100px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-right: 1rem;
    font-size: 1rem;
}

.menu ul li a {
    color: var(--accent-color);
    text-decoration: none;
}

.menu ul li a:hover {
    color: var(--light-color);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--light-color);
}


.sec{
    padding: 80px 0;
}

#services {
    background-color: var(--light-color);
    text-align: center;
    z-index: 1;
    /* position: relative; */
}

#services h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: var(--primary-color);
}



#services ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#services li {
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border-radius: 5px;
}

.slider {
    height: 100vh;
    position: relative;
}

.slider .list .item{
    position: absolute;
    inset: 0 0 0 0 ;
    overflow: hidden;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
    background-image:linear-gradient(to top, var(--black-color) 20%, transparent);
    left: 0;
    bottom: 0;
} 
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
    color: var(--light-color);
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content p:nth-child(3){
    font-size: 0.8rem;
}
.slider .list .item .content h3{
    font-size: 2rem;
    margin:  0;
    color: var(--accent-color);
}

.slider .list .item.active{
    z-index: 10;
    opacity:1;
}

@keyframes show {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h3,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: show .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h3{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}

.controls{
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 100;
}

.controls button{
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-family: monospace;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition:.5s;
}

.controls button:hover{
    background-color: var(--dark-accent-color);
}

.cards{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 300px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
}
.cards::-webkit-scrollbar{
    width: 0px;
}

.cards .card{
    width: 200px;
    height: 250px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.cards .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cards .card.active{
    filter: brightness(1.1);
}

.cards .card .content{
    position: absolute;
    inset: auto 10px 10px 10px;
    color: var(--primary-color);
}

#about{
    background-color: var(--light-color);
    text-align: center;
    height: auto;
}

#about h2{
    font-size: 2.5rem;
    margin-bottom: 0;
    color: var(--primary-color);
}

#about p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#about .about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#about .about-content img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}   
#about .about-content .about-text{
    max-width: 500px;
    text-align: left;
}

#about .about-content .about-text h3{
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

#about .about-content .about-text p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#about .about-content .about-text .cta-btn{
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 6px;
    transition: background-color 0.3s;
}

#about .about-content .about-text .cta-btn:hover{
    background-color: var(--dark-accent-color);
}

.company-name{
    font-size: 1.2rem;
    text-align: center;
    color: var(--accent-color);
}

#mission{
    background-color: var(--primary-color);
    text-align: center;
    height: auto;
    padding: 20px 80px;

}

#mission h2{
    font-size: 2.5rem;
    margin-bottom: 0;
    color: var(--light-color);
}

#mission p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#mission .mission-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#mission .mission-content img{
    width: 700px;
    height: 700px;
    object-fit: cover;
    border-radius: 50%;
}

#mission .mission-content .mission-text{
    max-width: 800px;
    text-align: left;
}

#mission .mission-content .mission-text h3{
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--light-color);
}

#mission .mission-content .mission-text p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--light-color);
}


#mission .mission-content .mission-text  ul{
    list-style:disc;
    padding-left: 40px;
}

#mission .mission-content .mission-text ul li{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--light-color);
}



#contact{
    background-color: var(--light-color);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h2{
    font-size: 2.5rem;
    margin-bottom: 0;
    color: var(--primary-color);
}

#contact p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#contact .contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#contact .contact-content img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}

#contact .contact-content .contact-text{
    max-width: 600px;
    text-align: center;
}

#contact .contact-content .contact-text h3{
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

#contact .contact-content .contact-text p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.address{
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
    color: var(--accent-color);
}
.address p{
    display: flex;
    justify-content: space-between;
}
.address span{
    color: var(--primary-color);

}
.email{
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
    color: var(--primary-color);
    text-decoration: none;
}


footer{
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    padding: 10px;
}

footer p{
    margin: 0;
}

footer a{
    color: var(--light-color);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

/* Responsive */
@media screen and (max-width: 768px) {
    nav {
        gap: 10px;
        height: auto;

    }

    .logo {
        margin-left: 5px;
    }
    .companyName {
        font-size: 1rem;
    }
    .logo img {
        width: 80px;
    }
    .menu {
        display: none;
        height: auto ;
        top: 60px;
        left: 0;
        width: 100%;
        height: auto;
        position: absolute;
        flex-direction: column;
        z-index: 100;
        background-color: var(--nav-color);
    }

    .menu-toggle {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 30px;
    }
    .menu-toggle input {
        display: none;
    }
    .menu-toggle span {
        background-color: var(--accent-color);
        width: 100%;
        height: 2px;
        transition: all 0.3s ease;
    }
    
    .menu ul {
        display: none;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .menu.active{
        display: flex;

    }
    .menu.active ul {
        display: flex; 
    }
    
    .menu-toggle.active span:nth-child(2) {
        display: none;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .menu ul li {
        margin-right: 0;
    }

    .menu ul li a {
        font-size: 1.2rem;
    }



    .sec {
        padding: 20px 0;
    }


    #services{
        height: auto;
        padding: 0;
    }

    #services h2 {
        font-size: 2rem;
    }

    #services p {
        font-size: 0.8rem;
    }

    #services li {
        font-size: 0.8rem;
    }

    
    .slider .list .item .content {
        width: 300px;
    }

    .slider .list .item .content p:nth-child(1) {
        font-size: 1rem;
    }

    .slider .list .item .content h3 {
        font-size: 1.5rem;
    }

    .slider .list .item .content p:nth-child(3) {
        font-size: 0.8rem;
    }

    .controls {
        right: 20px;
        top: 55%;
    }

    .controls button {
        font-size: 0.8rem;
    }

    .cards {
        height: 200px;
    }

    .cards {
        height: 200px;
    }

    .cards .card {
        width: 150px;
        height: 180px;
    }

    .cards .card img {
        border-radius: 5px;
    }




    #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;

    }
    #about p {
        font-size: 1rem;
    }

    #about .about-content{
        display: flex;   
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    #about .about-content img {
        width: 300px;
        height: 300px;
    }

    #about .about-content .about-text {
        max-width: 300px;
    }

    #about .about-content .about-text h3 {
        font-size: 1.3rem;
    }

    #about .about-content .about-text p {
        font-size: 0.8rem;
    }

    #about .about-content .about-text .cta-btn {
        font-size: 1rem;
    }

    #mission {
        height: auto;
    }

    #mission h2 {
        font-size: 2rem;
    }

    #mission p {
        font-size: 1rem;
    }

    #mission .mission-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #mission .mission-content img {
        width: 300px;
        height: 300px;
    }

    #mission .mission-content .mission-text {
        max-width: 300px;
    }

    #mission .mission-content .mission-text h3 {
        font-size: 1.3rem;
    }

    #mission .mission-content .mission-text p {
        font-size: 0.8rem;
    }

    #mission .mission-content .mission-text ul {
        padding-left: 20px;
    }

    #mission .mission-content .mission-text ul li {
        font-size: 0.8rem;
    }

    #contact {
        height: 100vh;
    }

    #contact h2 {
        font-size: 2rem;
    }

    #contact p {
        font-size: 1rem;
    }

    #contact .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #contact .contact-content img {
        width: 300px;
        height: 300px;
    }

    #contact .contact-content .contact-text {
        max-width: 300px;
    }

    #contact .contact-content .contact-text h3 {
        font-size: 1.3rem;
    }

    #contact .contact-content .contact-text p {
        font-size: 0.8rem;
    }

    .address {
        font-size: 0.8rem;
    }

    .email {
        font-size: 0.8rem;
    }

    footer p {
        font-size: 0.8rem;
    }

    footer a {
        font-size: 0.8rem;
    }



   
}

